In [1]:
f_func <- "./functions.ipynb"
eval(parse(text = system2('jupyter', c('nbconvert', f_func, '--to=script', '--stdout'), stdout = TRUE)))

f_data_loading <- "./data_loading.ipynb"
eval(parse(text = system2('jupyter', c('nbconvert', f_data_loading, '--to=script', '--stdout'), stdout = TRUE)))

Loading required package: Rsamtools

Loading required package: GenomeInfoDb

Loading required package: BiocGenerics


Attaching package: ‘BiocGenerics’


The following objects are masked from ‘package:stats’:

    IQR, mad, sd, var, xtabs


The following objects are masked from ‘package:base’:

    anyDuplicated, aperm, append, as.data.frame, basename, cbind,
    colnames, dirname, do.call, duplicated, eval, evalq, Filter, Find,
    get, grep, grepl, intersect, is.unsorted, lapply, Map, mapply,
    match, mget, order, paste, pmax, pmax.int, pmin, pmin.int,
    Position, rank, rbind, Reduce, rownames, sapply, setdiff, sort,
    table, tapply, union, unique, unsplit, which.max, which.min


Loading required package: S4Vectors

Loading required package: stats4


Attaching package: ‘S4Vectors’


The following objects are masked from ‘package:base’:

    expand.grid, I, unname


Loading required package: IRanges

Loading required package: GenomicRanges

Loading required package: Biostrings

Loading required package: XVector


Attaching package: ‘Biostrings’


The following object is masked from ‘package:base’:

    strsplit


Loading required package: Hmisc


Attaching package: ‘Hmisc’


The following objects are masked from ‘package:Biostrings’:

    mask, translate


The following objects are masked from ‘package:base’:

    format.pval, units


Loading required package: dplyr


Attaching package: ‘dplyr’


The following objects are masked from ‘package:Hmisc’:

    src, summarize


The following objects are masked from ‘package:Biostrings’:

    collapse, intersect, setdiff, setequal, union


The following object is masked from ‘package:XVector’:

    slice


The following objects are masked from ‘package:GenomicRanges’:

    intersect, setdiff, union


The following object is masked from ‘package:GenomeInfoDb’:

    intersect


The following objects are masked from ‘package:IRanges’:

    collapse, desc, intersect, setdiff, slice, union


The following objects are masked from ‘package:S4Vectors’:

    first, intersect, rename, setdiff, setequal, union


The following objects are masked from ‘package:BiocGenerics’:

    combine, intersect, setdiff, union


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Loading required package: ggplot2

Loading required package: stringi

Loading required package: data.table


Attaching package: ‘data.table’


The following objects are masked from ‘package:dplyr’:

    between, first, last


The following object is masked from ‘package:GenomicRanges’:

    shift


The following object is masked from ‘package:IRanges’:

    shift


The following objects are masked from ‘package:S4Vectors’:

    first, second


Loading required package: tidyverse

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ lubridate 1.9.2     ✔ tibble    3.2.1
✔ purrr     1.0.1     ✔ tidyr     1.3.0
✔ readr     2.1.4
── Conflicts ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ lubridate::%within%() masks IRanges::%within%()
✖ data.table::between() masks dplyr::between()
✖ dplyr::collapse()     masks Biostrings::collapse(), IRanges::collapse()
✖ dplyr::combine()      masks BiocGenerics::combine()
✖ purrr::compact()      masks XVector::compact()
✖ dplyr::desc()         masks IRanges::desc()
✖ tidyr::expand()       masks S4Vectors::expand()
✖ dplyr::filter()       masks stats::filter()
✖ data.table::first()   masks dplyr::first(), S4Vectors::first()
✖ lubridate::hour()     masks data.table::hour()
✖ lubridate::isoweek()  masks data.table::isoweek()
✖ dplyr::lag()          masks stats::lag()
✖ data.table::last()    masks dplyr::last()
✖ lubridate::mday()     masks data.table::mday()
✖ lubridate::minute()   masks data.table::minute()
✖ lubridate::month()    masks data.table::month()
✖ ggplot2::Position()   masks BiocGenerics::Position(), base::Position()
✖ lubridate::quarter()  masks data.table::quarter()
✖ purrr::reduce()       masks GenomicRanges::reduce(), IRanges::reduce()
✖ dplyr::rename()       masks S4Vectors::rename()
✖ lubridate::second()   masks data.table::second(), S4Vectors::second()
✖ lubridate::second<-() masks S4Vectors::second<-()
✖ dplyr::slice()        masks XVector::slice(), IRanges::slice()
✖ dplyr::src()          masks Hmisc::src()
✖ dplyr::summarize()    masks Hmisc::summarize()
✖ purrr::transpose()    masks data.table::transpose()
✖ lubridate::wday()     masks data.table::wday()
✖ lubridate::week()     masks data.table::week()
✖ lubridate::yday()     masks data.table::yday()
✖ lubridate::year()     masks data.table::year()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Loading required package: Rtsne

Loading required package: patchwork

Loading required package: R.utils

Loading required package: R.oo

Loading required package: R.methodsS3

R.methodsS3 v1.8.2 (2022-06-13 22:00:14 UTC) successfully loaded. See ?R.methodsS3 for help.

R.oo v1.26.0 (2024-01-24 05:12:50 UTC) successfully loaded. See ?R.oo for help.


Attaching package: ‘R.oo’


The following object is masked from ‘package:R.methodsS3’:

    throw


The following object is masked from ‘package:GenomicRanges’:

    trim


The following object is masked from ‘package:IRanges’:

    trim


The following objects are masked from ‘package:methods’:

    getClasses, getMethods


The following objects are masked from ‘package:base’:

    attach, detach, load, save


R.utils v2.12.3 (2023-11-18 01:00:02 UTC) successfully loaded. See ?R.utils for help.


Attaching package: ‘R.utils’


The following object is masked from ‘package:tidyr’:

    extract


The following object is masked from ‘package:Hmisc’:

    capitalize


The following object is masked from ‘package:Rsamtools’:

    isOpen


The following object is masked from ‘package:utils’:

    timestamp


The following objects are masked from ‘package:base’:

    cat, commandArgs, getOption, isOpen, nullfile, parse, warnings


Loading required package: pheatmap

Loading required package: ggridges

Loading required package: TSdist

Loading required package: proxy


Attaching package: ‘proxy’


The following object is masked from ‘package:Biostrings’:

    as.matrix


The following object is masked from ‘package:IRanges’:

    as.matrix


The following object is masked from ‘package:S4Vectors’:

    as.matrix


The following objects are masked from ‘package:stats’:

    as.dist, dist

The following object is masked from ‘package:base’:

    as.matrix


Warning message:
“no DISPLAY variable so Tk is not available”
Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo

Loaded TSdist v3.7.1. See ?TSdist for help, citation("TSdist") for use in publication.


Loading required package: dtplyr

Loading required package: profvis

Loading required package: ggforce

Loading required package: pracma


Attaching package: ‘pracma’


The following object is masked from ‘package:purrr’:

    cross


The following object is masked from ‘package:Hmisc’:

    ceil


Loading required package: rstatix


Attaching package: ‘rstatix’


The following object is masked from ‘package:IRanges’:

    desc


The following object is masked from ‘package:stats’:

    filter


Loading required package: ggpubr

Loading required package: jsonlite


Attaching package: ‘jsonlite’


The following object is masked from ‘package:R.utils’:

    validate


The following object is masked from ‘package:purrr’:

    flatten


Loading required package: matrixStats


Attaching package: ‘matrixStats’


The following object is masked from ‘package:dplyr’:

    count

In [2]:
host_nonMT$TLEN %>% min()

[1] 35

In [3]:
samples_metadata %>% 
    filter(origin != "controls") %>% 
    filter(sample_type != "ds-wcDNA BAL") %>% 
    select(patient) %>% unlist() %>% 
    as.character() %>% unique() %>% length()

samples_metadata %>% 
    filter(sample_type == "ssLP plasma") %>% filter(origin == "IPA samples")
samples_metadata %>% 
    filter(origin != "controls") %>% 
    filter(sample_type != "ds-wcDNA BAL") %>%  
    group_by(sample_type) %>% 
    summarise(nr_samples = n())

samples_metadata %>% 
    filter(origin != "controls") %>% 
    filter(sample_type != "ds-wcDNA BAL") %>%  
    group_by(origin) %>% 
    summarise(nr_samples = n())

samples_metadata %>% 
    filter(origin != "controls") %>% 
    filter(sample_type != "ds-wcDNA BAL") %>%  
    group_by(sample_type, origin) %>% 
    summarise(nr_samples = n())

[1] 34

  sample_id  origin      sample_short patient sample type sample_type
1 A05Pasp    IPA samples Pasp         A05     plasma ssLP ssLP plasma
2 A01Pasp    IPA samples Pasp         A01     plasma ssLP ssLP plasma
3 A02Pasp    IPA samples Pasp         A02     plasma ssLP ssLP plasma
4 A03Pasp    IPA samples Pasp         A03     plasma ssLP ssLP plasma
5 A05PaspVAL IPA samples PaspVAL      A05     plasma ssLP ssLP plasma
6 A04Pasp    IPA samples Pasp         A04     plasma ssLP ssLP plasma

  sample_type nr_samples
1 dsLP BAL    10
2 dsLP plasma  8
3 ssLP BAL    23
4 ssLP plasma 25

  origin            nr_samples
1 External controls 20
2 IPA samples       31
3 Internal controls 12
4 Other molds        3

`summarise()` has grouped output by 'sample_type'. You can override using the `.groups` argument.

   sample_type origin            nr_samples
1  dsLP BAL    IPA samples       10
2  dsLP plasma IPA samples        4
3  dsLP plasma Internal controls  4
4  ssLP BAL    External controls 11
5  ssLP BAL    IPA samples       11
6  ssLP BAL    Other molds        1
7  ssLP plasma External controls  9
8  ssLP plasma IPA samples        6
9  ssLP plasma Internal controls  8
10 ssLP plasma Other molds        2

In [4]:
host_nonMT$sample_id %>% unique() %>% length()

[1] 66

In [5]:
#SOME NUMBERS FOR THE MANUSCRIPT
unique_sample_id_count <- host_nonMT %>% 
    mutate(sample_short = substr(sample_id, 1,3)) %>% 
    ungroup() %>% 
    summarise(unique_count = n_distinct(sample_short), .groups = "keep")
unique_sample_id_count

numbers_per_sample_type <- host_nonMT %>%
    group_by(sample) %>%
    summarise(unique_count = n_distinct(patient), .groups = "keep")
numbers_per_sample_type

host_nonMT %>% filter(sample == "plasma") %>%
    group_by(origin) %>% 
    summarise(unique_count = n_distinct(patient), .groups = "keep")

host_nonMT %>% filter(sample == "BAL") %>%
    group_by(origin) %>% 
    summarise(unique_count = n_distinct(patient), .groups = "keep")

average_fragment_length <- host_nonMT %>% 
    group_by(TLEN, sample_type, type) %>% summarise(mnsCount = mean(nsCount, na.rm = TRUE), .groups = "keep") %>% 
    group_by(sample_type, type) %>% 
    summarise(avg_TLEN = round(sum(TLEN * mnsCount, na.rm = TRUE) / sum(mnsCount, na.rm = TRUE), digits = 0), 
              .groups = "keep")
average_fragment_length

  unique_count
1 34

  sample unique_count
1 BAL    23
2 plasma 16

  origin            unique_count
1 External controls 9
2 IPA samples       5
3 Internal controls 6
4 Other molds       2

  origin            unique_count
1 External controls 11
2 IPA samples       11
3 Other molds        1

  sample_type type avg_TLEN
1 dsLP BAL    dsLP 312
2 dsLP plasma dsLP 241
3 ssLP BAL    ssLP 182
4 ssLP plasma ssLP 167

In [6]:
get_index_for_valley(host_nonMT_summarized, sample_type_tmp = "ssLP plasma", tlen_min = 170)[[1]] %>% 
    filter(TLEN >160) %>% filter(type == "peak")
get_index_for_valley(host_nonMT_summarized, sample_type_tmp = "dsLP plasma", tlen_min = 170)[[1]] %>% 
    filter(TLEN >160) %>% filter(type == "peak")
get_index_for_valley(host_nonMT_summarized, sample_type_tmp = "ssLP BAL", tlen_min = 170)[[1]] %>% 
    filter(TLEN >160) %>% filter(type == "peak")
get_index_for_valley(host_nonMT_summarized, sample_type_tmp = "dsLP BAL", tlen_min = 170)[[1]] %>% 
    filter(TLEN >160) %>% filter(type == "peak")

#get_index_for_valley(host_nonMT_summarized, sample_type_tmp = "dsLP plasma")[[1]]
#get_index_for_valley(host_nonMT_summarized, sample_type_tmp = "ssLP BAL")[[1]]
#get_index_for_valley(host_nonMT_summarized, sample_type_tmp = "dsLP BAL")[[1]]

get_index_for_valley(host_nonMT_summarized, sample_type_tmp = "ssLP plasma")[[2]]
get_index_for_valley(host_nonMT_summarized, sample_type_tmp = "dsLP plasma")[[2]]
get_index_for_valley(host_nonMT_summarized, sample_type_tmp = "ssLP BAL")[[2]]
get_index_for_valley(host_nonMT_summarized, sample_type_tmp = "dsLP BAL")[[2]]

  TLEN sample_type type mnsCount
1 166  ssLP plasma peak 2.333132

  TLEN sample_type type mnsCount
1 166  dsLP plasma peak 1.756357

  TLEN sample_type type mnsCount
1 164  ssLP BAL    peak 0.8138056

  TLEN sample_type type mnsCount
1 168  dsLP BAL    peak 0.2600398

  sample_type mean_index index_non_na index_na total_index
1 ssLP plasma 1.53       10           1        11

  sample_type mean_index index_non_na index_na total_index
1 dsLP plasma 1.52       4            3        7

  sample_type mean_index index_non_na index_na total_index
1 ssLP BAL    1.7        10           0        10

  sample_type mean_index index_non_na index_na total_index
1 dsLP BAL    1.54       9            1        10

In [7]:
rbind(plasma_sizeSelection_meta, BAL_sizeSelection_meta) %>%
    filter(origin != "control", 
           taxName == "Aspergillus fumigatus") %>%
    select(sample_id, new_Filter, QC_number_reads, sample_type, origin, type) %>% 
    filter(new_Filter %in% c("noFilter", "35-1000")) %>%     
    pivot_wider(names_from = new_Filter, values_from = QC_number_reads, names_prefix = "QC#_") %>% 
    mutate(perc_merged = `QC#_35-1000`/`QC#_noFilter`) %>% 
    group_by(sample_type) %>% 
    summarize(mean_perc_merged = mean(perc_merged))

  sample_type  mean_perc_merged
1 dsLP BAL     0.3126241
2 dsLP plasma  0.5873901
3 ssLP BAL     0.7933704
4 ssLP control 0.2592045
5 ssLP plasma  0.8795137